@model ReceptionTransfertDechet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nouvelle reception transfert dechets</h3>

@*<h4>Nouvel achat</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="New">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ParcId" class="control-label"></label>
                <select asp-for="ParcId" class="form-control" asp-items="ViewBag.ParcId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumBL" class="control-label"></label>
                <input asp-for="NumBL" class="form-control" readonly="readonly" value="@ViewBag.NumBon" />
                <span asp-validation-for="NumBL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mat" class="control-label"></label>
                <input asp-for="Mat" class="form-control" />
                <span asp-validation-for="Mat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transporteur" class="control-label"></label>
                <input asp-for="Transporteur" class="form-control" />
                <span asp-validation-for="Transporteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Provenance" class="control-label"></label>
                <input asp-for="Provenance" class="form-control" />
                <span asp-validation-for="Provenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeDeTransportId" class="control-label"></label>
                <select asp-for="TypeDeTransportId" class="form-select" asp-items="ViewBag.TypeDeTransportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeDeCamionId" class="control-label"></label>
                <select asp-for="TypeDeCamionId" class="form-select" asp-items="ViewBag.TypeDeCamionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeDeDechetId" class="control-label"></label>
                <select asp-for="TypeDeDechetId" class="form-select" asp-items="ViewBag.TypeDeDechetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateOp" class="control-label"></label>
                <input asp-for="DateOp" class="form-control" type="datetime-local" readonly="readonly" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm"))" />


                @*   <input type="datetime-local" asp-for="DateOP" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm"))" />*@
                <span asp-validation-for="DateOp" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="PCC" class="control-label"></label>
                <input asp-for="PCC" class="form-control" type="number" value="0" min="0" id="input" readonly="readonly"/>
                <span asp-validation-for="PCC" class="text-danger"></span>

            </div>
            @*            <div class="form-group">
            <label asp-for="PCV" class="control-label"></label>
            <input asp-for="PCV" class="form-control" type="number" value="0" min="0" />
            <span asp-validation-for="PCV" class="text-danger"></span>
            </div>*@
            @*          <div class="form-group">
            <label asp-for="PB" class="control-label"></label>
            <input asp-for="PB" class="form-control" type="number" value="0" min="0" />
            <span asp-validation-for="PB" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="PQRa" class="control-label"></label>
            <input asp-for="PQRa" class="form-control" type="number" value="0" min="0" />
            <span asp-validation-for="PQRa" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="PQS" class="control-label"></label>
            <input asp-for="PQS" class="form-control" type="number" value="0" min="0" />
            <span asp-validation-for="PQS" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            @*            <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="Termine" /> @Html.DisplayNameFor(model => model.Termine)
            </label>
            </div>*@
            <div class="form-group">

                <input type="button" id="myButton" value="Peser" class="btn btn-info" /> |
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>
@*<div id="result"></div>*@
@section Scripts {
    @*   @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@

    <script>
        $(document).ready(function () {
            $("#myButton").click(function () {
                $.ajax({
                    url: "@Url.Action("Peser", "Business")", // Replace "ControllerName" with your actual controller name
                    type: "GET",
                    success: function (result) {
                        // $("#result").text(result);
                        $('#input').val(result);
                    },
                    error: function (xhr, status, error) {
                        console.log("An error occurred: " + error);
                    }
                });
            });
        });
    </script>

}
