@model InterfacePontBascule.Models.SortieRondBeton

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SortieRondBeton</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parc.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumBonA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumBonA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOp)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transporteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transporteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeDeTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeDeTransport.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeDeCamion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeDeCamion.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diametre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diametre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PQRa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PQRa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PQS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PQS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Termine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Termine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
